#primary section.block-slider {
    position: relative;
    margin-bottom: 60px;
    margin-top: 0;

    &__next,
    &__prev {
        font-size: xx-large;

        &:hover {
            cursor: pointer;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .swiper-button-next {
        right: -27px;

        // &::before {
        //     transform-origin: 40% 55%;
        //     transform: rotate(-135deg);
        // }
    }

    .swiper-button-prev {
        left: 29px;

        // &::before {
        //     transform-origin: 50% 75%;
        // }
    }

    .swiper-pagination-bullet {
        width: 40px;
        height: 4px;
        background-color: var(--black);
        border-radius: 0;
        margin: 0 12px;

    }

    .swiper-pagination-bullet-active {
        background: var(--white);
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        text-align: center;
        max-height: 384px;
        align-items: center;

        img {
            width: 100%;
        }

        .slide-button {
            font-family: "Inter";
            background-color: var(--dark-green);
            border-radius: var(--border-radius);
            float: none;
            margin: 0;
            color: var(--white);
            text-align: center;
            max-width: 203px;
            width: 100%;
            padding: 8px;
            display: block;
            text-decoration: none;

            &:hover {
                cursor: pointer;
            }

            @media screen and (max-width: 768px) {
                background-color: unset;
            }

            a {
                @media screen and (max-width: 768px) {
                    text-shadow: 1px 1px 2px #000000;
                }
            }
        }

        .slider-content {
            position: absolute;
            left: 60px;
            bottom: 65px;
            max-width: 370px;
            text-align: left;
            display: block;
            width: 100%;

            @media screen and (max-width: 768px) {
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                bottom: auto;
            }
        }

        .slide-text {
            font-family: "PT Sans Caption";
            color: var(--black);
            max-width: 900px;
            margin: 0 auto;
            text-align: left;
            margin-bottom: 70px;
        }
    }
}