.steps {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 40px 0;

    .step-subtitle {
        position: absolute;
        background: var(--pale-green);
        margin: 0;
        color: var(--white);
        padding: 10px;

        @media screen and (max-width: 768px) {
            font-size: var(--txt-font-size);
            line-height: var(--txt-line-height);
            font-weight: var(--txt-font-weight);
        }
    }

    .step-item {
        width: calc(50% - 20px);
        position: relative;

        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }
}