.woocommerce-order {
    .title-order {
        margin-top: 17px;
        margin-bottom: 22px;
    }

    .subtitle-checkout {
        margin: 0;
    }

    .block-details {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--grey);
    }

    .subtitle-details {
        flex: 18%;
        padding: 17px 0 13px 16px;

        @media screen and (max-width: 1150px) {
            flex: 40%;
        }

        @media screen and (max-width: 590px) {
            flex: 50%;
        }
    }

    .text-details {
        flex: 80%;
        font-weight: 600;
        padding: 5px;
    }

    .woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
        display: none;
    }

    .pdf-buttons {
        display: flex;
        justify-content: flex-end;

        .button {
            display: block;
            padding: 11px 0;
            margin-right: 8px;
            max-width: 156px;
            width: 100%;
            color: var(--main-color);
            border: 1px solid var(--Lacoste, var(--dark-green));
            cursor: pointer;
            border-radius: var(--button-border-radius);
            background-color: unset;
            font-size: var(--txt-s-font-size);
            font-weight: var(--txt-s-font-weight);
            line-height: var(--txt-s-line-height);

            &:hover {
                background-color: unset;
                cursor: pointer;
            }

            span {
                margin-right: 6px;
            }
        }
    }
}

.woocommerce-customer-details {

    .woocommerce-customer-details--phone::before,
    .woocommerce-customer-details--email::before {
        display: none;
    }
}

.woocommerce .woocommerce-order-details {
    .order_details {
        border: none;
        border-collapse: collapse;

        thead {
            border: none;
            border-collapse: collapse;

            th {
                border: none;
                border-collapse: collapse;
                font-weight: normal;
            }

            tr {
                border-bottom: none;
                background-color: var(--light-grey);
            }
        }

        tbody {
            .product-thumbnail {
                max-width: 65px;
                max-height: 65px;
                padding: 16px;

                @media screen and (max-width: 600px) {
                    padding: 5px;
                }
            }

            tr {
                border-bottom: 1px solid var(--light-grey);

                @media screen and (max-width: 600px) {
                    font-size: 14px;
                }
            }
        }

        tfoot {
            margin: 24px 0;

            th,
            td {
                border: none;
            }

            td {
                text-align: right;
                font-size: var(--price-L-font-size);
                font-weight: var(--price-L-font-weight);
                line-height: var(--price-L-line-height);
                padding: 50px 0 22px;

                @media screen and (max-width: 430px) {
                    &:nth-child(1) {
                        display: none;
                    }
                }
            }
        }
    }
}