.woocommerce .woocommerce-breadcrumb {
    color: var(--dark-green);
    margin: 0;
    padding: 16px 0;

    a {
        color: var(--gray);
        text-decoration: none;
        position: relative;

        &::after {
            content: ">";
            margin: 0 8px;
        }
    }
}