.list-img {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    padding-bottom: 40px;
    justify-content: space-between;

    &__info {
        flex: 1;
    }

    &__subtitle-img {
        max-width: 215px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 16px;

        p {
            line-height: 27px;
        }
    }
}