.cart-title {
    margin: 40px 0 24px 0;
    float: left;
}

a.clear-filters-cart {
    float: right;
    margin-top: 55px;
}

.custom-button-back {
    background-color: unset;
    border: 1px solid var(--dark-green);
    padding: 16px 0;
    max-width: 255px;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    border-radius: var(--border-radius);
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    line-height: var(--h4-line-height);

    &:hover {
        cursor: pointer;
    }
}

.woocommerce .cart-collaterals .custom-cart-totals {
    width: 52%;
    float: right;

    .order-total {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 45px;
        font-size: var(--price-L-font-size);
        font-weight: var(--price-L-font-weight);
        line-height: var(--price-L-line-height);
        gap: 10px;
    }

    .shop_table {
        border: none;

        .woocommerce-shipping-totals {
            background-color: var(--light-grey);

            th,
            td {
                border-bottom: 1px solid var(--main-color);
                padding: 24px 0;
                font-size: var(--txt-font-size);
                font-weight: var(--txt-font-weight);
                line-height: var(--txt-line-height);
            }


        }
    }

    @media screen and (max-width: 1200px) {
        width: 65%;
    }

    @media screen and (max-width: 900px) {
        width: 100%;
    }
}

.woocommerce-cart .custom-button-checkout {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 40px;

    a.checkout-button.button {
        max-width: 255px;
        width: 100%;
        background-color: var(--dark-green);
        border-radius: var(--border-radius);
        font-size: var(--h4-font-size);
        font-weight: var(--h4-font-weight);
        line-height: var(--h4-line-height);
        padding: 16px 0;
        display: block;
        margin: 0;

        &:hover {
            cursor: pointer;
        }
    }
}

.custom-cart-form {
    table.shop_table {
        border: none;
        margin: 0;

        .cart-header {
            background-color: var(--light-grey);

            th {
                font-weight: var(--txt-font-weight);
            }
        }

        .cart-body {
            img {
                height: auto;
                width: 100%;
                max-width: 100px;
            }

            a {
                text-decoration: none;
            }

            td {
                font-weight: var(--txt-font-weight);
                font-size: var(--txt-font-size);
                line-height: var(--txt-line-height);
                border: none;
                border-bottom: 1px solid var(--grey);
                padding: 16px 0;

                .quantity .qty {
                    text-align: center;
                    width: 100%;
                    max-width: 120px;
                    padding: 0;
                }

                .quantity,
                .attribute-unit {
                    float: left;
                    margin-left: 4px;
                }
            }

            .product-thumbnail {
                padding: 16px 5px 16px 0;
            }

            .product-name {
                max-width: 400px;

                @media screen and (max-width: 769px) {
                    max-width: none;
                }
            }
            .product-quantity {
                min-width: 160px;

                @media screen and (max-width: 769px) {
                    padding: 16px 0 32px;
                }
            }
            .product-remove {
                a.remove {
                    &:hover {
                        color: var(--red)!important;
                        background: none;
                    }
                }
            }

            .product-price {
                min-width: 100px;
            }

            .product-subtotal {
                min-width: 150px;
            }
        }
    }
}

form.custom-cart-form>table.shop_table>tbody.cart-body>tr.block-cart-button-subtotal,
#primary .wrap .wp-block-group .woocommerce .woocommerce-notices-wrapper .woocommerce-message {
    display: none;
}

#primary .wrap .wp-block-group .woocommerce {
    .woocommerce-info {
        padding: 0;
    }

    .return-to-shop a {
        max-width: 255px;
        width: 100%;
        background-color: var(--dark-green);
        border-radius: var(--button-border-radius);
        font-size: var(--txt-s-font-size);
        font-weight: var(--txt-s-font-weight);
        line-height: var(--txt-s-line-height);
        padding: 15px 0;
        color: var(--white);
        text-align: center;
    }
}

#primary .shipping-block {
    display: flex;
    align-items: baseline;
    gap: 40px;
    margin-top: 24px;
    justify-content: flex-end;

    .block-shipping-methods {
        max-width: 415px;
        width: 100%;

        ul.custom-shipping-method {
            border: 1px solid var(--grey);
            position: relative;

            &:hover {
                cursor: pointer;
            }

            .icon-Down-1 {
                position: absolute;
                top: 23px;
                right: 15px;
                z-index: 0;
            }

            li {
                margin: 0;
                border-bottom: 1px solid var(--grey);
                padding: 12px 40px 12px 8px;

                [class^="icon-"],
                [class*=" icon-"] {
                    font-size: xx-large;
                    margin-right: 8px;
                }

                &.init {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                }

                &:not(.init) {
                    width: 100%;
                    display: none;
                    border-bottom: 1px solid var(--grey);
                }

                &.visible {
                    display: flex;
                    align-items: center;
                }

                .amount {
                    font-weight: normal;
                }

                .shipping-method-label {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    z-index: -1;
                }
            }
        }
    }

    @media screen and (max-width: 10247px) {
        gap: 15px;
    }
}

.woocommerce-cart .wc-proceed-to-checkout::before,
.woocommerce-cart .wc-proceed-to-checkout::after {
    content: none;
}

.custom-privacy-policy {
    color: var(--dark-grey);
    text-decoration: none;
    text-align: end;
    display: block;
    margin-top: 10px;
}