.footer-content {
    background-color: #1d1d1d;
    width: 100%;
    font-size: var(--txt-font-size);
    font-weight: var(--txt-font-weight);
    line-height: var(--txt-line-height);
    color: var(--white);

    .custom {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 15px;
        margin: 0 auto;
        gap: 20px;

        .footer-left {
            flex: 1;
            max-width: 230px;

            .logo-container {
                display: flex;
                align-items: center;
                margin-bottom: 24px;
                text-decoration: none;

                a {
                    text-decoration: none;
                }

                span {
                    @media screen and (max-width: 600px) {
                        font-size: 39px;
                        line-height: 19px;
                    }

                    @media screen and (max-width: 350px) {
                        font-size: 27px;
                        line-height: 16px;
                    }
                }

                .footer-logo {
                    width: 100%;
                    margin-right: 4px;
                    max-width: 145px;

                    @media screen and (max-width: 600px) {
                        max-width: 236px;
                    }

                    @media screen and (max-width: 350px) {
                        max-width: 210px;
                    }
                }

                @media screen and (max-width: 600px) {
                    flex-wrap: wrap;
                }
            }

            @media screen and (max-width: 600px) {
                flex: 100%;
                max-width: none;
            }
        }

        .footer-right {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            gap: 30px;
            max-width: 390px;

            ul {
                list-style: none;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                gap: 10px;

                li {
                    margin-bottom: 10px;
                    flex: 48%;

                    a {
                        color: var(--white);
                        text-decoration: none;
                    }

                    @media screen and (max-width: 655px) {
                        flex: 100%;
                        padding-bottom: 32px;
                        margin-bottom: 0;
                    }
                }
            }

            @media screen and (max-width: 600px) {
                flex: 100%;
            }
        }

        .icon-container {
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 16px;
            color: var(--white);
            text-decoration: none;

            @media screen and (max-width: 600px) {
                margin-bottom: 40px;
            }

            .icon-place-2,
            .icon-phone-2 {
                font-size: xx-large;
            }

            p {
                margin-bottom: 6px;
                font-family: "Inter", sans-serif;
                font-size: var(--txt-s-font-size);
                font-weight: var(--txt-s-font-weight);
                line-height: var(--txt-s-line-height);

                &.subtitle-xs {
                    color: var(--pale-green);
                    font-size: var(--subtitle-xs-font-size);
                    font-weight: var(--subtitle-xs-font-weight);
                    line-height: var(--subtitle-xs-line-height);

                    @media screen and (max-width: 600px) {
                        font-size: var(--txt-s-font-size);
                        font-weight: var(--txt-s-font-weight);
                        line-height: var(--txt-s-line-height);
                    }
                }

                @media screen and (max-width: 600px) {
                    font-family: "Inter", sans-serif;
                    font-size: var(--txt-font-size);
                    font-weight: var(--txt-font-weight);
                    line-height: 20.8px;
                }
            }


        }

        .icon-container svg {
            margin-right: 8px;
        }

        .icon-button {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 80%;
            background: transparent;
            border: none;
            cursor: pointer;
        }

        @media screen and (max-width: 600px) {
            padding: 40px 30px;
            gap: 0;
            flex-wrap: wrap;
        }

        @media screen and (max-width: 350px) {
            padding: 35px 20px;
        }
    }
}