.three-blocks {
    margin: 40px 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  
  
    .element-large {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 70px 0;
      border: 1px solid var(--black);
      flex: 2;
  
      .content {
        margin: 40px;

        p {
          font-family: "PT Sans Caption";
          font-size: 16px;
          font-weight: 400;
          line-height: 19.2px;
        }
      }
    }

    .element-small {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: 1px solid var(--black);
      flex: 1;
      padding: 30px 0;
  
      .content {
        margin: 7px;

        p {
          font-family: "PT Sans Caption";
          font-size: 16px;
          font-weight: 400;
          line-height: 19.2px;
          text-align: center;
        }
      }
    }
  
  }
  