#primary .product form.cart.promteks-cart,
#primary .product-item,
#page .product-item {
    font-size: var(--txt-s-font-size);
    font-weight: var(--txt-s-font-weight);
    line-height: var(--txt-s-line-height);
    width: 100%;

    .block-quantity-button {
        display: flex;
        background-color: var(--light-grey);
    }

    .button {
        background-color: var(--dark-green);
        border-radius: var(--button-border-radius);
        flex: 70%;
        float: none;
        margin: 0;
        color: var(--white);
        font-size: var(--txt-s-font-size);
        font-weight: var(--txt-s-font-weight);
        line-height: var(--txt-s-line-height);
        text-align: center;
        padding: 9px 0;

        .add-to-cart-text {
            font-family: "Inter", sans-serif;
        }
    }

    .quantity {
        margin: 0;
    }

    .quantity .qty {
        padding: 9px 0;
        border-radius: 0;
        color: var(--main-color);
        float: none;
        margin: 0;
        outline: none;
    }

    .quantity-arrow-minus,
    .quantity-arrow-plus {
        background-color: var(--light-grey);
        border-radius: 0;
        color: var(--main-color);
        border: none;
        font-size: x-large;

        &:hover {
            cursor: pointer;
        }
    }

    .quantity-arrow-minus {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0 0 0 8px;
    }

    .quantity-arrow-plus {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0 8px 0 0;
    }

}

#primary .product .woocommerce-product-gallery {
    .swiper-slide.hidden {
        opacity: 0;
        z-index: -1;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

        a {
            margin: 0 auto;
            box-shadow: 0px 0px 30px 0px #0000000D inset;
        }

        &.swiper {
            flex-wrap: nowrap;
            gap: 40px;
        }
    }

    .swiper.mobile {
        margin-top: 16px;
        padding: 0 40px;
        flex-wrap: nowrap;
        gap: 10px;

        .swiper-wrapper-mobile {
            display: flex;
            flex-wrap: nowrap;
        }

        .swiper-slide-mobile {
            height: 100%;
        }
    }

    .slider-mobile {
        display: none;
        max-width: 90vw;

        a.img-big-mobile {
            img {
                max-height: 320px;
                width: auto;
                height: auto;
                max-width: 320px;
            }
        }

        @media screen and (max-width: 768px) {
            display: block;
        }
    }

    .product-gallery-swiper-mobile {
        overflow: hidden;

        img {
            height: 100%;
            border: 1px solid #eee;
            padding: 8px;
            width: 100%;
            object-fit: scale-down;
        }

        .product-gallery__swiper-button-next-mobile,
        .product-gallery__swiper-button-prev-mobile {
            margin: 0 auto;
            z-index: 1;

            @media screen and (max-width: 768px) {
                display: block;

            }

            &.icon-Vector-13,
            &.icon-Vector-14 {
                font-size: x-large;

                &::before {
                    color: var(--main-color);
                }
            }
        }

        .product-gallery__swiper-button-prev-mobile {
            top: 50%;
            left: 5px;
            transform: translate(0, -50%);
            height: auto;
            width: auto;
        }

        .product-gallery__swiper-button-next-mobile {
            top: 50%;
            right: 10px;
            transform: translate(0, -50%);
            width: auto;
            height: auto;
        }
    }

    .product-gallery-swiper {
        max-width: 100px;
        width: 100%;
        height: 320px;
        position: relative;
        overflow: hidden;

        .swiper-slide {
            max-height: 100px;
            height: 100%;

            img {
                height: 100%;
                border: 1px solid #EEEEEE;
                padding: 8px;
                width: 100%;
                object-fit: scale-down;
            }
        }

        .product-gallery__swiper-button-next,
        .product-gallery__swiper-button-prev {
            right: 0;
            left: 0;
            margin: 0 auto;
            z-index: 1;
            background-color: white;
            border-radius: 50%;
            box-shadow: 0px 0px 4.29px 0px #0000001A;
            width: 24px;
            height: 24px;

            &::before {
                color: var(--main-color);
                font-size: small;
                position: absolute;
                left: 5px;
                top: 4px;
            }
        }

        .product-gallery__swiper-button-prev {
            top: 0;
            bottom: auto;

            &::before {
                position: absolute;
                top: 6px;
                left: 6px;
            }
        }

        .product-gallery__swiper-button-next {
            bottom: 0;
            top: auto;

            &::before {
                transform: rotate(180deg);
            }
        }
    }
}

#primary .woocommerce-product-gallery__wrapper.swiper.desktop {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.woocommerce-product-gallery__wrapper.swiper.mobile {
    @media screen and (min-width: 769px) {
        display: none;
    }
}

.woocommerce ul.products li.product a img {
    max-height: 240px;
    //width: auto;
    margin: 0 auto;
    position: relative;
    border: 1px solid var(--grey);
    aspect-ratio: 1 / 1;
    object-fit: scale-down;

    @media screen and (max-width: 1024px) {
        max-width: 100%;
    }
}

.promteks-card-hr {
    width: 100%;
    border: 1px solid #CBCBCB;
}

.single-product-hr {
    width: 100%;
    border: 1px solid var(--grey);
    margin-top: 40px;
}

#page .promteks-cart button.custom-button-similar-product {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    color: var(--white);
    background-color: var(--dark-green);
    font-size: var(--txt-s-font-size);
    font-weight: var(--txt-s-font-weight);
    line-height: var(--txt-s-line-height);
    text-align: center;
    border-radius: var(--button-border-radius);

    &:hover {
        cursor: pointer;
    }
}

#page .recently-viewed-products,
#page .up-sells.upsells {

    h2 {
        @media screen and (max-width: 768px) {
            font-size: var(--h4-font-size);
            font-weight: var(--h4-font-weight);
        }
    }

    ul.products {
        display: flex;
        gap: 2.5rem;

        li {
            flex: calc((100% / 4) - 2.5rem);
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            max-width: 260px;
            padding: 10px;

            img {
                margin-bottom: 16px;
            }

            .txt {
                padding: 0;
                margin: 8px 0;
            }

            @media screen and (max-width: 550px) {
                .block-quantity-button {

                    .quantity-arrow-minus,
                    .quantity-arrow-plus,
                    .quantity {
                        display: none;
                    }
                }

                .custom-block-brands {
                    a {
                        color: var(--dark-green)!important;
                    }

                    a.woocommerce-loop-product__link {
                        color: var(--dark-gray)!important;
                    }
                }
            }

            @media screen and (max-width: 1100px) {
                &:nth-child(3) {
                    display: none;
                }
            }
        }

        a img {
            aspect-ratio: 1 / 1;
            width: 100%;
            display: block;
            margin: 0 auto;
        }

        h2 {
            font-size: var(--txt-s-font-size);
            font-weight: var(--txt-s-font-weight);
            line-height: var(--txt-s-line-height);
        }
    }
}


#page .product-price-wishlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 24px;
    width: 100%;

    p,
    a,
    div {
        margin: 0;
    }

    p {
        font-size: var(--price-font-size);
        font-weight: var(--price-font-weight);
        line-height: var(--price-line-height);
        letter-spacing: var(--price-letter-spacing);
        font-family: "Inter", sans-serif;
        color: var(--main-color);
        flex: 90%;
    }

    div {
        flex: 10%;
    }
}

.woocommerce div.product div.images img {
    max-width: 320px;
    max-height: 385px;
    margin: 0 auto;
}

#page .custom-block-brands {
    font-size: var(--subtitle-s-font-size);
    font-weight: var(--subtitle-s-font-weight);
    line-height: var(--subtitle-s-line-height);
    color: var(--gray);
    margin-bottom: 20px;

    a {
        color: var(--dark-green);
        text-decoration: underline;
    }
}

#primary .summary.entry-summary .pwb-single-product-brands.pwb-clearfix {
    display: none;
}

#primary .summary.entry-summary {
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 8px 0px #00000014;
    padding: 16px;
    margin-bottom: 0;

    .price {
        font-size: var(--price-L-font-size);
        font-weight: var(--price-L-font-weight);
        line-height: var(--price-L-line-height);
        color: var(--main-color);
        margin: 16px 0;
    }

    /*.yith-wcwl-add-to-wishlist {
        position: absolute;
        top: 16px;
        right: 16px;
        margin: 0;
        max-width: 35px;
    }*/

    @media screen and (max-width: 768px) {
        margin-top: 40px;
    }
}

#page a.woocommerce-loop-product__link {
    text-decoration: none;
    color: var(--dark-grey);
    width: 100%;

    @media screen and (max-width: 530px) {
        width: 100%;
    }
}

#page .txt.woocommerce-loop-product__title {
    color: var(--main-color);
}

.custom-delivery-block {
    margin-top: 32px;

    .delivery-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;

        span {
            white-space: nowrap;
        }

        p {
            display: flex;
            align-items: center;
            font-size: var(--txt-s-font-size);
            font-weight: var(--txt-s-font-weight);
            line-height: var(--txt-s-line-height);

            span {
                margin-right: 8px;
                font-size: x-large;
            }

            .icon-iconoir_box-iso2 {
                font-size: x-large;
            }
        }
    }
}

#page li.product.type-product>div.custom-block-brands>a {
    color: var(--dark-grey);
}

#page .woocommerce div.product div.images {
    margin-bottom: 0;
}

#primary .product {
    margin: 0;
    float: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;


    .woocommerce-tabs {
        padding-top: 39px;
        width: 100%;

        #tab-description {
            display: block !important;
        }
    }

    .stock-status {
        margin-top: 16px;
        margin-bottom: 33px;

        .available-on-backorder {
            color: green;
        }

        p {
            span {
                margin-right: 8px;
            }

            span.path1 {
                margin: 0;
            }
        }
    }
}

.description-content {
    columns: 2;
    column-gap: 20px;
    max-height: 300px;
    overflow: hidden;

    h2 {
        display: none;
    }
}

.show-more-btn {
    display: none;
    margin: 39px auto;
    color: var(--main-color);
    border: 1px solid var(--Lacoste, var(--dark-green));
    padding: 8px 16px;
    cursor: pointer;
    border-radius: var(--button-border-radius);
    background-color: unset;
    font-size: var(--txt-s-font-size);
    font-weight: var(--txt-s-font-weight);
    line-height: var(--txt-s-line-height);
    max-width: 240px;
    width: 100%;
}