#primary .product form.cart.promteks-cart,
#primary .product-item,
#page .product-item {
    font-size: var(--txt-s-font-size);
    font-weight: var(--txt-s-font-weight);
    line-height: var(--txt-s-line-height);
    width: 100%;

    .block-quantity-button {
        display: flex;
        background-color: var(--light-grey);
    }

    .button {
        background-color: var(--dark-green);
        border-radius: var(--button-border-radius);
        flex: 70%;
        float: none;
        margin: 0;
        color: var(--white);
        font-size: var(--txt-s-font-size);
        font-weight: var(--txt-s-font-weight);
        line-height: var(--txt-s-line-height);
        text-align: center;
    }

    .quantity {
        margin: 0;
    }

    .quantity .qty {
        padding: 9px 0;
        border-radius: 0;
        color: var(--main-color);
        float: none;
        margin: 0;
    }

    .quantity-arrow-minus,
    .quantity-arrow-plus {
        background-color: var(--light-grey);
        border-radius: 0;
        color: var(--main-color);
        border: none;

        &:hover {
            cursor: pointer;
        }
    }

    .quantity-arrow-minus {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0 0 0 8px;
    }

    .quantity-arrow-plus {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 0 8px 0 0;
    }

}

.product .woocommerce-product-gallery {
    .swiper-slide.hidden {
        opacity: 0;
        z-index: -1;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        a {
            margin: 0 auto;
        }

        &.swiper {
            flex-wrap: nowrap;
            gap: 40px;
        }
    }

    .product-gallery-swiper {
        max-width: 100px;
        width: 100%;
        height: 450px;
        position: relative;

        .swiper-slide {
            max-height: 100px;
            height: 100%;

            img {
                aspect-ratio: 1 / 1;
                width: 100px;
            }
        }

        .product-gallery__swiper-button-next {
            bottom: -26px;
            top: auto;
            right: 0;
            left: 0;
            margin: 0 auto;

            &::before {
                transform-origin: 50% 55%;
                transform: rotate(134deg);
            }
        }
    }
}

.woocommerce ul.products li.product a img {
    //max-width: 240px;
    max-height: 240px;
    width: auto;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
        max-width: 100%;       
    }
}

.promteks-card-hr {
    width: 100%;
    border: 1px solid #CBCBCB;
}

#page .promteks-cart button.custom-button-similar-product {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    color: var(--white);
    background-color: var(--dark-green);
    font-size: var(--txt-s-font-size);
    font-weight: var(--txt-s-font-weight);
    line-height: var(--txt-s-line-height);
    text-align: center;
    border-radius: var(--button-border-radius);

    &:hover {
        cursor: pointer;
    }
}

#page .recently-viewed-products {
    max-width: var(--width-page);
    margin: 0 auto;
    width: 100%;
    padding: 0 40px;

    h2.you-watched {
        border-top: 2px solid #CBCBCB;
        padding: 39px 0 16px;
    }

    div.woocommerce {
        padding-bottom: 40px;
        border-bottom: 2px solid #CBCBCB;

        ul.products {
            display: flex;
            gap: 2.5rem;

            li {
                flex: calc((100% / 6) - 2.5rem);
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                max-width: 160px;

                img {
                    margin-bottom: 16px;
                }

                .txt {
                    padding: 0;
                    margin: 8px 0;
                }
            }

            a img {
                aspect-ratio: 1 / 1;
                width: 100%;
                display: block;
                margin: 0 auto;
            }

            h2 {
                font-size: var(--txt-s-font-size);
                font-weight: var(--txt-s-font-weight);
                line-height: var(--txt-s-line-height);
            }
        }

    }
}


#page .product-price-wishlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 24px;
    width: 100%;

    p,
    a,
    div {
        margin: 0;
    }

    p {
        font-size: var(--h4-font-size);
        font-weight: var(--h4-font-weight);
        line-height: var(--h4-line-height);
        font-family: "Inter", sans-serif;
        color: var(--black);
        flex: 90%;
    }

    div {
        flex: 10%;
    }

    .fa.fa-heart-o,
    .fa {
        font-size: x-large;
        margin: 0;
        color: var(--gray);
    }
}

.woocommerce div.product div.images img {
    max-width: 520px;
    max-height: 520px;
    //width: auto;
    margin: 0 auto;
}

#primary .custom-block-brands {
    font-size: var(--subtitle-s-font-size);
    font-weight: var(--subtitle-s-font-weight);
    line-height: var(--subtitle-s-line-height);
    color: var(--gray);
    margin: 8px 0 24px;

    a {
        color: var(--gray);
        text-decoration: underline;
    }
}

#primary .summary.entry-summary .pwb-single-product-brands.pwb-clearfix {
    display: none;
}

#primary .summary.entry-summary {
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 8px 0px var(--main-color);
    padding: 32px;

    .price {
        font-size: var(--h3-font-size);
        font-weight: var(--h3-font-weight);
        line-height: var(--h3-line-height);
        color: #1d1d1d;
        margin: 16px 0;
    }

    .yith-wcwl-add-to-wishlist {
        position: absolute;
        top: 32px;
        right: 32px;
        margin: 0;
        max-width: 35px;
    }

    .yith-wcwl-icon.fa {
        font-size: x-large;
        color: var(--gray);
    }
}