<footer id="main-footer">
  <div class="footer-nav">
    <div class="wrap footer-nav__container">
      <div class="footer-nav__row-1">
        <div class="brand">
          <div class="brand-logo">
            <img src="logo.png" alt="" srcset="" />
            <span>Промтэкс</span>
          </div>
          <p class="brand-description">Промтэкс</p>
        </div>
        <div id="footer-call" class="btn btn-g">
          <span>Заказать звонок</span>
        </div>
      </div>
      <div class="footer-nav__row-2">
        <div class="footer-nav__left">
          <nav class="footer-nav__menu">
            <ul>
              <li><a href="#">Каталог</a></li>
              <li><a href="#">Доставка</a></li>
              <li><a href="#">Оплата</a></li>
              <li><a href="#">О нас</a></li>
              <li><a href="#">Наш склад и товар</a></li>
              <li><a href="#">Схема проезда</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </nav>
          <div class="footer-nav__contact">
            <div class="footer-nav__contact__row">
              <a href="tel:+7 (4832) 59-03-59">+7 (4832) 59-03-59</a>
              <a href="mailto:">mail</a>
            </div>
            <div class="footer-nav__contact__row">
              <p class="address">
                г.Брянск, Карачевкое шоссе 4 км График работы: Пн-Пт: 8:30-17:00 | Сб: 9:00-13:00
              </p>
            </div>
          </div>
        </div>
        <div class="footer-nav__right">
          <div class="nav-social__container social__in">
            <div class="nav-social__title">Мы в соцсетях:</div>
            <ul class="nav-social__list">
              <li>
                <a href="#" class="link-font"><span class="iconf-vk"></span></a>
              </li>
              <li>
                <a href="#" class="link-font"
                  ><span class="iconf-paper-plane"></span
                ></a>
              </li>
              <li>
                <a href="#" class="link-font"><span class="iconf-od"></span></a>
              </li>
            </ul>
          </div>
          <div class="nav-social__container social__write">
            <div class="nav-social__title">Напишите нам, мы онлайн:</div>
            <ul class="nav-social__list">
              <li>
                <a href="#" class="link-font"
                  ><span class="iconf-whatsapp"></span
                ></a>
              </li>
              <li>
                <a href="#" class="link-font">
                  <span class="iconf-paper-plane"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-add-info">
    <div class="wrap footer-add-info__container">
      <a href="http://">Политика обработки персональных данных</a>
      <a href="http://">Политика конфиденциальности</a>
      <a href="http://">Договор оферты</a>
    </div>
  </div>
</footer>
