<header id="main-header">
  <div class="wrap">
    <div class="header-menu-container">
      <div class="header-brand">
        <div class="brand">
          <div class="brand-logo">
            <img src="logo.png" alt="" srcset="" />
            <span>Промтэкс</span>
          </div>
          <p class="brand-description">Промтэкс</p>
        </div>
      </div>
      <div class="header-nav">
        <div id="back_layel_menu"></div>
        <div class="nav-contact">
          <div class="contact-email">
            <a href="mailto:">mail</a>
          </div>
          <div class="contact-tel">
            <a href="tel:+7 (4832) 59-03-59">+7 (4832) 59-03-59</a>
            <a class="btn-popup text-g" src="#">Заказать звонок</a>
          </div>
        </div>
        <div class="nav-menu">
          <div class="menu-burger" id="burger">
            <span></span><span></span><span></span>
          </div>
          <div class="menu-container">
            <div class="brand-logo">
              <img src="logo.png" alt="" srcset="" />
              <span>Промтэкс</span>
            </div>
            <nav class="menu-container__nav">
              <ul>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Оплата</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Наш склад и товар</a></li>
                <li><a href="#">Схема проезда</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </nav>
            <div class="nav-contact">
              <div class="contact-email">
                <a href="mailto:">mail</a>
              </div>
              <div class="contact-tel">
                <a href="tel:+7 (4832) 59-03-59">+7 (4832) 59-03-59</a>
                <a class="btn-popup text-g" src="#">Заказать звонок</a>
              </div>
            </div>
            <div class="nav-social">
              <div class="nav-social__container social__in">
                <div class="nav-social__title">Мы в соцсетях:</div>
                <ul class="nav-social__list">
                  <li>
                    <a href="#" class="link-font"
                      ><span class="iconf-vk"></span
                    ></a>
                  </li>
                  <li>
                    <a href="#" class="link-font"
                      ><span class="iconf-paper-plane"></span
                    ></a>
                  </li>
                  <li>
                    <a href="#" class="link-font"
                      ><span class="iconf-od"></span
                    ></a>
                  </li>
                </ul>
              </div>
              <div class="nav-social__container social__write">
                <div class="nav-social__title">Напишите нам, мы онлайн:</div>
                <ul class="nav-social__list">
                  <li>
                    <a href="#" class="link-font"
                      ><span class="iconf-whatsapp"></span
                    ></a>
                  </li>
                  <li>
                    <a href="#" class="link-font">
                      <span class="iconf-paper-plane"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
