:root {
  --black: #000000;
  --main-color: #202020;

  --red: #D81E1E;

  --green: #00A148;
  --dark-green: #00653B;
  --accent-green: #BDFF00;
  --pale-green: #6FBC7B;

  --grey: #DFDFDF;
  --gray: #9B9B9B;
  --dark-grey: #ACACAC;
  --light-grey: #F7F7F7;
  --white: #FFFFFF;

  --gradient: linear-gradient(79.45deg, #C34747 0.7%, #FF0000 96.22%);

  --button-border-radius: 4px;

  // Fonts
  --h1-font-size: 3rem;
  --h1-font-weight: 500;
  --h1-line-height: 2.7rem;

  --h2-font-size: 2rem;
  --h2-font-weight: normal;
  --h2-line-height: 2.4rem;

  --h3-font-size: 1.5rem;
  --h3-font-weight: normal;
  --h3-line-height: 1.8rem;

  --h4-font-size: 1.25rem;
  --h4-font-weight: 500;
  --h4-line-height: 1.5rem;

  --txt-font-size: 1rem;
  --txt-font-weight: normal;
  --txt-line-height: 1.2rem;

  --txt-s-font-size: 0.875rem;
  --txt-s-font-weight: normal;
  --txt-s-line-height: 1.05rem;

  --subtitle-font-size: 0.75rem;
  --subtitle-font-weight: normal;
  --subtitle-line-height: 0.9rem;

  --subtitle-s-font-size: 0.625rem;
  --subtitle-s-font-weight: normal;
  --subtitle-s-line-height: 0.75rem;

  --subtitle-xs-font-size: 0.5rem;
  --subtitle-xs-font-weight: 600;
  --subtitle-xs-line-height: 0.6rem;

  --price-font-size: 1rem;
  --price-font-weight: 700;
  --price-line-height: 1.3rem;
  --price-letter-spacing: 0.02em;

  --price-L-font-size: 1.5rem;
  --price-L-font-weight: 700;
  --price-L-line-height: 1.8rem;

  --discount-font-size: 1rem;
  --discount-font-weight: 600;
  --discount-line-height: 1.3rem;
  --discount-letter-spacing: 0.02em;

  --width-page: 1240px; //1440px;
}
