:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.__slider>.swiper {
  max-width: none !important;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-horizontal {
  touch-action: pan-y;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper:not(.swiper-watch-progress),
.swiper-watch-progress .swiper-slide-visible {
  .swiper-lazy-preloader {
    animation: swiper-preloader-spin 1s infinite linear;
  }
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.swiper-free-mode>.swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 20%;
  width: 56px;
  height: 56px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--so-dark);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px var(--black);
  background-color: var(--white);

  &::before {
    content: "";
    display: block;
    border-bottom: 2px solid;
    width: 25%;
    height: 25%;
    border-left: 2px solid;
    transform: rotate(45deg);
    transform-origin: 75% 75%;
    object-fit: contain;
  }

  &.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
  }

  &.swiper-button-hidden {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
  }

  .swiper-navigation-disabled & {
    display: none !important;
  }

  svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform-origin: center;
  }

  .swiper-rtl & svg {
    transform: rotate(180deg);
  }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0;
  right: auto;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0;
  left: auto;
  transform: rotate(180deg);
}

// .swiper-button-lock {
//   display: none;
// }
.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;

  &.swiper-pagination-hidden {
    opacity: 0;
  }

  .swiper-pagination-disabled>&,
  &.swiper-pagination-disabled {
    display: none !important;
  }
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;

  .swiper-pagination-bullet {
    transform: scale(0.33);
    position: relative;
  }

  .swiper-pagination-bullet-active {
    transform: scale(1);
  }

  .swiper-pagination-bullet-active-main {
    transform: scale(1);
  }

  .swiper-pagination-bullet-active-prev {
    transform: scale(0.66);
  }

  .swiper-pagination-bullet-active-prev-prev {
    transform: scale(0.33);
  }

  .swiper-pagination-bullet-active-next {
    transform: scale(0.66);
  }

  .swiper-pagination-bullet-active-next-next {
    transform: scale(0.33);
  }
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--dark-grey, #000);
  transition: 150ms width, 500ms background-color, 10ms border-radius;

  @at-root button#{&} {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    appearance: none;
  }

  .swiper-pagination-clickable & {
    cursor: pointer;
  }

  &:only-child {
    display: none !important;
  }
}

.swiper-pagination-bullet-active {
  background-color: var(--lite-red);
  width: 30px;
  border-radius: 20px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-horizontal.swiper-pagination-bullets {
  .swiper-pagination-bullet {
    margin: 0 4px;
  }

  &.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    .swiper-pagination-bullet {
      transition: 200ms transform, 200ms left;
    }
  }
}

.swiper-pagination-lock {
  display: none;
}

.__slider {
  position: relative;

  &>.swiper {
    max-width: calc(100% - 100px);
  }
}

@media screen and (max-width: 960px) and (min-width: 769px) {
  .__slider {
    position: relative;

    &>.swiper {
      max-width: calc(100% - 80px);
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: -5px;
    right: auto;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: -5px;
    left: auto;
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 768px) {
  .__slider {
    position: relative;

    &>.swiper {
      max-width: 100%;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}