html {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--main-color);
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  line-height: var(--h2-line-height);
  margin-bottom: 16px;
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
  margin-bottom: 40px;
}

h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);
  line-height: var(--h4-line-height);
  margin: 8px 0;
}

.txt {
  font-size: var(--txt-font-size);
  font-weight: var(--txt-font-weight);
  line-height: var(--txt-line-height);
}

.txt-s {
  font-size: var(--txt-s-font-size);
  font-weight: var(--txt-s-font-weight);
  line-height: var(--txt-s-line-height);
}

.subtitle {
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-font-weight);
  line-height: var(--subtitle-line-height);
}

.subtitle-s {
  font-size: var(--subtitle-s-font-size);
  font-weight: var(--subtitle-s-font-weight);
  line-height: var(--subtitle-s-line-height);
}

.subtitle-xs {
  font-size: var(--subtitle-xs-font-size);
  font-weight: var(--subtitle-xs-font-weight);
  line-height: var(--subtitle-xs-line-height);
}

.logo-text-year {
  font-family: "ArkonaC";
  font-size: 23px;
  font-style: italic;
  font-weight: 500;
  line-height: 0.772rem;
  letter-spacing: -1%;
  color: var(--accent-green);
  max-width: 40px;
}

#page .added_to_wishlist {
  box-shadow: 0px 5px 16px 0px var(--main-color);
  padding: 10px;
}

.woocommerce .products ul::after,
.woocommerce .products ul::before,
.woocommerce ul.products::after,
.woocommerce ul.products::before {
  display: none;
}

#page section[class] {
  margin-top: 64px;
}

#secondary section[class] {
  margin: 0;
}

main#main {
  margin: 30px 0;

  section[class] {
    margin-top: 64px;

    &>header {
      &>* {
        font-size: 2.44rem;
        font-weight: 500;
        text-align: center;
        line-height: 1.2;

        span {
          font-size: 3.33rem;
        }
      }

      p.description {
        font-weight: 400;
        font-size: 1.1rem;
      }
    }
  }

  & section[class]:first-child {
    margin-top: 0;
  }
}

a {
  color: var(--main-color);
}

.wrap-header,
#main.site-main {
  max-width: var(--width-page);
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
}

#main.site-main,
main.site-page {
  padding-bottom: 24px;
  padding-top: 16px;
}

.wrap {
  max-width: var(--width-page);
  margin: 0 auto;
  padding: 0 40px;
  width: 100%;
}

#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.in-basket {
  margin: 0;
  font-size: xx-large;
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    content: "\e902";
    color: #bdff00;
    margin-right: 5px;
    display: inline-block;
    vertical-align: text-top;
  }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="month"],
input[type="week"] {
  border: none;
  padding: 19px 1.5rem;
  border-radius: var(--button-border-radius);
  background: transparent;
  font-size: 1rem;
  box-sizing: border-box;

  &::placeholder {
    color: var(--main-color);
    font-size: 1em;
  }

  &:focus-visible {
    outline: 1px solid var(--dark-green);
  }
}

@media screen and (max-width: 960px) and (min-width: 391px) {
  html {
    font-size: 16px;
  }

  .wrap,
  .wrap-header,
  #main.site-main {
    padding: 0 15px;
  }
}

@media screen and (max-width: 390px) {
  html {
    font-size: 14px;
  }

  .wrap,
  .wrap-header,
  #main.site-main {
    padding: 0 10px;
  }

  main#main {
    margin: 30px 0;

    & section[class] {
      margin: 50px 0;
    }

    & section[class]:first-child {
      margin-top: 0;
    }
  }
}

.discount-badge {
  background-color: var(--red);
  position: absolute;
  padding: 4px 12px;
  color: var(--white);
  font-weight: var(--discount-font-weight);
  font-size: var(--discount-font-size);
  line-height: var(--discount-line-height);
  letter-spacing: var(--discount-letter-spacing);
  display: block;
  max-width: 67px;
  margin-top: -31px;
  z-index: 1;

  @media screen and (max-width: 530px) {
    margin-top: -26px;
  }
}

.wp-block-heading {
  margin-bottom: 23px;
}

a.clear-filters {
  margin-top: 8px;
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-font-weight);
  line-height: var(--subtitle-line-height);
  color: #399C49;
  border-bottom: 1px solid #399C49;
  text-decoration: none;
}

.separator {
  margin: 32px 0;
}

figure.wp-block-image {
  margin-bottom: 10px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-30-0 {
  margin: 38px 0;
}


.woocommerce nav.woocommerce-pagination {
  padding: 10px 0;
  margin-bottom: 64px;

  a.page-numbers {
    padding: 4px 7px;
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }

    &.current {
      background: var(--pale-green);
      color: var(--white);
      border-radius: var(--button-border-radius);
    }
  }
}

iframe {
  width: 100%;
}

.photoes-block {
  gap: 10px;
  
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
    flex-basis: 45% !important;
  }

  .wp-block-columns {
    margin-bottom: 0;
    gap: 10px;
  }
}

.margin-24-0 {
  margin: 24px 0;
}

.margin-bottom-24 {
  margin-bottom: 24px;
}

.style-404 {
  .search-form {
    input.search-field {
      border: 1px solid var(--green);
    }

    input.search-submit {
      border: 1px solid #b6b6b6;
      border-radius: var(--border-radius);
      cursor: pointer;
      position: relative;
      background-color: var(--dark-green);
      color: var(--white);
      padding: 19px 1.5rem;
      font-size: 1rem;
      font-weight: var(--subtitle-font-weight);
      line-height: var(--subtitle-line-height);
    }
  }
}

.block-search-results {
  display: flex;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;

  article {
    width: calc(100% - 30px);

    .entry-header,
    .post-thumbnail,
    .entry-summary,
    .entry-footer {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.products .product .pwb-brands-in-loop {
  display: none !important;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title {
  padding: 5px 0;
}

.block-text-seo {
  font-size: var(--txt-s-font-size);
  font-weight: var(--txt-s-font-weight);
  line-height: var(--txt-s-line-height);
}

.page-delivery {
  justify-content: space-between;

  .delivery-block {
    max-width: 480px;
  }
}