.category-list-categories {
    max-width: 260px;
    width: 100%;
    overflow: hidden;
    position: relative;

    .category-list {
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease;
        padding: 0;

        ul.children {
            display: none;
            padding-left: 0;

            li {
                padding: 12px 24px;
                border: none;
            }
        }

        li {
            list-style: none;
            border-bottom: 1px solid #9B9B9B66;
            position: relative;

            &.selected {
                background-color: var(--light-grey);
            }

            &:hover {
                cursor: pointer;
            }

            .cat-link {
                text-decoration: none;
                display: flex;
                align-items: center;
                flex-wrap: nowrap;
                font-size: var(--subtitle-font-size);
                font-weight: var(--subtitle-font-weight);
                line-height: var(--subtitle-line-height);
                padding: 12px 20px 12px 8px;
                font-family: "Inter", sans-serif;

                &:hover {
                    cursor: pointer;
                }
            }

            .cat-image {
                max-width: 48px;
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 8px;
                margin-right: 8px;
            }

            .cat-name {
                font-family: "Inter", sans-serif;
            }
        }

        li.expanded>ul.children {
            display: block;
        }

        li.icon-Vector-9::before,
        li a.icon-Down-3::before {
            position: absolute;
            right: 0;
            top: 25px;
            font-size: large;
        }

        li.expanded>a {
            border-bottom: 1px solid var(--main-color);
        }

        li.current-cat {
            background: var(--grey);

            >a {
                font-weight: bold;
            }
        }
    }
}

.filters-container form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    div.filter-tax {
        width: calc((100% / 6) - 20px);

        /*.yith-wcan-dropdown {
            border: 1px solid #B6B6B6;
            border-radius: 8px;
            padding: 8px 12px;
            font-size: var(--subtitle-font-size);
            font-weight: var(--subtitle-font-weight);
            line-height: var(--subtitle-line-height);
        }*/
    }
}

main#main #secondary section {
    margin-bottom: 8px;
}

.attribute-filters {
    margin-bottom: 24px;

    &__select {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        border: 1px solid #B6B6B6;
        border-radius: 8px;

        .reset-button {
            color: var(--white);
            background-color: var(--black);
            font-size: 25px;
            opacity: 0;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 0 8px;

            &:hover {
                cursor: pointer;
            }

        }

        .vertical-line {
            position: absolute;
            right: 30px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            content: "";
            width: 1px;
            height: 75%;
            background-color: var(--white);
            z-index: 1;
            display: none;
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            right: 0;
            width: 10px;
            height: 1px;
            background-color: black;
            z-index: 1;
            top: 0;
            bottom: 0;
            margin: auto 0;
        }

        &::before {
            right: 10px;
            transform: rotate(-55deg);
        }

        &::after {
            right: 15px;
            transform: rotate(55deg);
        }

        &.option-selected::after,
        &.option-selected::before {
            opacity: 0;
        }

        select {
            border: none;
            border-radius: 8px;
            padding: 8px 2px 8px 12px;
            cursor: pointer;
            position: relative;
            background-color: var(--white);
            font-size: var(--subtitle-font-size);
            font-weight: var(--subtitle-font-weight);
            line-height: var(--subtitle-line-height);
            -webkit-appearance: none;
            -moz-appearance: none;

            &::-ms-expand {
                display: none;
            }


            &:focus-visible {
                outline: none;
            }
        }

        &.option-selected select {
            background-color: var(--black);
            color: var(--white);
            outline: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: var(--white);
        }
    }

    form {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;

        input {
            border: 1px solid #B6B6B6;
            border-radius: 8px;
            cursor: pointer;
            position: relative;
            background-color: var(--black);
            color: var(--white);
            padding: 8px 12px;
            font-size: var(--subtitle-font-size);
            font-weight: var(--subtitle-font-weight);
            line-height: var(--subtitle-line-height);

            &.active {
                background-color: var(--black);
                color: var(--white);
            }
        }
    }
}

form.woocommerce-ordering {
    button {
        border: 1px solid #B6B6B6;
        border-radius: 8px;
        padding: 8px 12px;
        cursor: pointer;
        position: relative;
        background-color: var(--white);
        font-size: var(--subtitle-font-size);
        font-weight: var(--subtitle-font-weight);
        line-height: var(--subtitle-line-height);

        &.active {
            background-color: var(--black);
            color: var(--white);
        }
    }
}

.row {
    display: flex;
    gap: 40px;

    .col-md-3 {
        flex: 23%;
    }

    .col-md-9 {
        flex: 77%;

        ul.products {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;

            li {
                float: none;
                margin: 0;
                padding: 0;
                position: relative;
                width: 30%;
                margin-left: 0;
                padding: 10px;
            }
        }
    }
}